# Google Cloud Platform App Engine Support

runtime: php72

runtime_config:
 document_root: public

env_variables:
 APP_NAME: MANAPIE
 APP_ENV: local
 APP_KEY: 
 APP_DEBUG: false
 APP_LOG_LEVEL: prod
 APP_URL: http://localhost
 APP_TIMEZONE: 'Asia/Seoul'
 APP_LOCALE: 'ko'
 
 DB_CONNECTION: mysql
 DB_HOST: localhost
 DB_DATABASE: 
 DB_USERNAME: 
 DB_PASSWORD: 
 DB_SOCKET: 
 DB_PREFIX: manapie_

 APP_STORAGE: /tmp
 VIEW_COMPILED_PATH: /tmp

 BROADCAST_DRIVER: log
 CACHE_DRIVER: database
 SESSION_DRIVER: database
 QUEUE_DRIVER: sync

 MAIL_DRIVER: smtp
 MAIL_HOST: smtp.mailtrap.io
 MAIL_PORT: 2525
 MAIL_USERNAME: null
 MAIL_PASSWORD: null
 MAIL_ENCRYPTION: null

 APP_LOG: errorlog
 LOG_DELETE: true
 
 FILESYSTEM_DRIVER: gcs
 
 GOOGLE_CLOUD_PROJECT_ID: 
 #GOOGLE_CLOUD_KEY_FILE: 
 GOOGLE_CLOUD_STORAGE_BUCKET: 
 #GOOGLE_CLOUD_STORAGE_PATH_PREFIX: 
 #GOOGLE_CLOUD_STORAGE_API_URI: 
 
beta_settings:
   cloud_sql_instances: ""
